body {
    background-color: rgb(158, 50, 126);
    text-align: center;
    font-size: 35px;
    margin: 140px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}